<h3 style="font-size: 24px; display: flex; align-items:center;
        flex-direction: row; justify-content: space-between;">
    <div style="margin-bottom: 20px;">Office {{officeCodeFromRoute}} ({{office.city}})</div>
    <div flex align-items-center style="margin-bottom: 20px;">
        <button pButton type="button" icon="pi pi-plus" style="color:white; background-color: #1976D2;" (click)="handleClickAdd($event)"></button>
        <button pButton type="button" icon="pi pi-pencil" style="color:white; background-color: #1976D2;" (click)="handleClickEdit($event)"></button>
        <button pButton type="button" icon="pi pi-trash" style="color:white; background-color: #1976D2;" (click)="handleClickDelete($event)"></button>
    </div>
</h3>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p></p>

<form>
    <table>
        <tr>

            <mat-form-field class="cm-field-300" 
                style="margin-left: 20px;">
                <mat-label class="cm-label">City</mat-label>
                <input matInput placeholder="City" [(ngModel)]="office.city" name="city" 
                style="font-weight: bold; margin-bottom: 0px;" readonly>
            </mat-form-field>

            <mat-form-field class="cm-field-300">
                <mat-label class="cm-label">Phone</mat-label>
                <input matInput placeholder="Phone" [(ngModel)]="office.phone" name="phone"
                style="margin-bottom: 0px;" readonly>
            </mat-form-field>

            <mat-form-field class="cm-field-150">
                <mat-label class="cm-label">Office Code</mat-label>
                <input matInput placeholder="Office Code" [(ngModel)]="office.officeCode" name="officeCode"
                style="margin-bottom: 0px;" readonly>
            </mat-form-field>
            
        </tr>
        <tr>

            <mat-form-field class="cm-field-300" 
                style="margin-left: 20px;">
                <mat-label class="cm-label">Country</mat-label>
                <input matInput placeholder="Country" [(ngModel)]="office.country" name="country"
                style="font-weight: bold; margin-bottom: 0px;" readonly>
            </mat-form-field>

            <mat-form-field class="cm-field-300" >
                <mat-label class="cm-label">State</mat-label>
                <input matInput placeholder="State" [(ngModel)]="office.state" name="state"
                style="margin-bottom: 0px;" readonly>
            </mat-form-field>

            <mat-form-field class="cm-field-150" >
                <mat-label class="cm-label">Postal Code</mat-label>
                <input matInput placeholder="Postal Code" [(ngModel)]="office.postalCode" name="postalCode"
                style="margin-bottom: 0px;" readonly>
            </mat-form-field>

            <mat-form-field class="cm-field-150" >
                <mat-label class="cm-label">Territory</mat-label>
                <input matInput placeholder="Territory" [(ngModel)]="office.territory" name="territory"
                style="margin-bottom: 0px;" readonly>
            </mat-form-field>

        </tr>
        <tr>

            <mat-form-field class="cm-field-300" 
                style="margin-left: 20px;">
                <mat-label class="cm-label">Address Line 1</mat-label>
                <input matInput placeholder="Address Line 1" [(ngModel)]="office.addressLine1" name="addressLine1"
                style="margin-bottom: 0px;" readonly>
            </mat-form-field>

            <mat-form-field class="cm-field-300" 
                style="width: 300px; margin-right: 20px;">
                <mat-label class="cm-label">Address Line 2</mat-label>
                <input matInput placeholder="Address Line 2" [(ngModel)]="office.addressLine2" name="addressLine2"
                style="margin-bottom: 0px;" readonly>
            </mat-form-field>
        </tr>
    </table>
</form>

<p></p>

<h1 style="width: 1200px; color: white; background-color: rgb(121, 120, 120); padding: 18px; font-size: 21px; font-weight: normal;">
    Employees</h1>

<p-table [value]="EmployeesList"
    [paginator]="false" [rows]="15" [showCurrentPageReport]="true" 
    currentPageReportTemplate="{first} - {last} of {totalRecords}" [rowsPerPageOptions]="[15,25,50]"
    styleClass="p-datatable-gridlines p-datatable-sm" 
    [tableStyle]="{'max-width': '1200px', 'width':'1200px', 'font-size': 'small'}">
    
    <ng-template pTemplate="header" >
        <th scope="col">Employee Number</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>    
        <th scope="col">Job Title</th>    
        <th scope="col">Office</th>    
        <th scope="col">Extension</th>    
        <th scope="col">Email</th>    
        <th scope="col">ReportsToName</th>    
    </ng-template>

    <ng-template pTemplate="body" class="clickable" let-employee>
        <tr  [routerLink]="['/employees/', employee.employeeNumber]" style="font-size: small;">

            <td scope="row">{{employee.employeeNumber}}</td>
            <td style="font-weight: bold;">{{employee.lastName}}</td>
            <td style="font-weight: bold;">{{employee.firstName}}</td>
            <td style="font-weight: bold;">{{employee.jobTitle}}</td>
            <td>{{employee.city}}</td>
            <td>{{employee.extension}}</td>
            <td>{{employee.email}}</td>                            
            <td>{{employee.reportsToName}}</td>

        </tr>
    </ng-template>

</p-table>

<p></p>

<div *ngIf="!officeError.isEmpty()" style="width:1200px; background-color:#ff5252; font-weight: bold; color:white; padding:20px; margin: 50px 20px 20px 0px;">
    <li *ngFor="let error of officeError.errors">
        {{error}}
    </li>
    <div *ngIf="officeError.errors.length === 0">{{ officeError.message }}</div>
</div>
